In [77]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
df = fetch_california_housing(as_frame=True).frame
df.sample()
list(df.columns)
pd.options.display.max_columns = 500
#df.info()
#df.describe()
#df['HouseAge'].mean()
#df.HouseAge.std()
#df.HouseAge.median()
#df.HouseAge.mode()
# df.HouseAge.count()
# df.HouseAge.sum()

In [78]:
import matplotlib.pyplot as plt
# df.HouseAge.plot.bar(figsize=(12,8))
# plt.title('House Age')
# plt.show()

# df.plot(figsize=(12,8))
# plt.tight_layout()

In [79]:
import yfinance as yf

# stock_df = yf.download('AAPL')
# stock_df.plot()

df = pd.DataFrame({
    'name':['Mike','Alice','Bob'],
    'age':[21,22,25],
    'job': ['CEO', 'CMO', 'CTO']
})

df = df.set_index('name')
#df.loc['Alice','age']
#df.iloc[1,0]
#df.at['Alice','age']
df.loc['John'] = [90, 'Teacher']
df.loc['Alice'] = [75, 'Startaper']
#df.iloc[0:4 , 1]
df.age = df.age // 2
df = df.reset_index()
df

    name  age        job
0   Mike   10        CEO
1  Alice   37  Startaper
2    Bob   12        CTO
3   John   45    Teacher

In [80]:
import random as r

def myfunction():
    i=r.randint(3, 99)
    if i % 3 == 0:
        return i ** 2
    print('ERROR')
#myfunction()

def myfunction2(x):
    if x.endswith('r'):
        return 'Without Job :D'
    else:
        return "You're fired!"
#df.job.apply(myfunction2)
#df.age.apply(lambda x: x**2)
#df.age.apply(lambda x: r.randint(3,99))
df['summary'] = df.apply(lambda x: f'Age: {x['age']}, Job: {x['job']}', axis=1)

In [81]:
#df = df.drop(['job', 'summary'], axis=1)
df.at['Alice' , 'age'] = float('nan')
#df.info()

#df.dropna()
df.fillna(df.age.mean())
df.at['Bob', 'job'] = None
#df.notna()
#df[df.age.notna()]

In [82]:
# for i, row in df.iterrows():
#     print(row['summary'])

# for i, col in df.items():
#     print(i)

#df.age > 50
df[[False, True, False, False, False, False]]

#(df.age > 10) & (df.job.notna())
# (df.age > 10) | (df.job.notna())
(df.name.str.endswith('e')) & (df.age.notna())

0         True
1         True
2        False
3        False
Alice    False
Bob      False
dtype: bool

In [83]:
import datetime as d
df.fillna(5)
df['birthday'] = df['age'].apply(lambda x: d.datetime.now() - d.timedelta(days=365.0*x))
df

ValueError: cannot convert float NaN to integer