In [121]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
df = fetch_california_housing(as_frame=True).frame
df.sample()
list(df.columns)
pd.options.display.max_columns = 500
#df.info()
#df.describe()
#df['HouseAge'].mean()
#df.HouseAge.std()
#df.HouseAge.median()
#df.HouseAge.mode()
# df.HouseAge.count()
# df.HouseAge.sum()

In [122]:
import matplotlib.pyplot as plt
# df.HouseAge.plot.bar(figsize=(12,8))
# plt.title('House Age')
# plt.show()

# df.plot(figsize=(12,8))
# plt.tight_layout()

In [123]:
import yfinance as yf

# stock_df = yf.download('AAPL')
# stock_df.plot()

df = pd.DataFrame({
    'name':['Mike','Alice','Bob'],
    'age':[21,22,25],
    'job': ['CEO', 'CMO', 'CTO']
})

df = df.set_index('name')
#df.loc['Alice','age']
#df.iloc[1,0]
#df.at['Alice','age']
df.loc['John'] = [90, 'Teacher']
df

       age      job
name
Mike    21      CEO
Alice   22      CMO
Bob     25      CTO
John    90  Teacher